<div class="container-fluid">
    <div></div>
    <h1 class="d-4 text-center">About Us</h1>
    <p class="lead">Welcome to Open Library, your go-to platform for all things books! Whether you want to sell, donate, exchange, buy, or accept books for free, we are here to make it easy and enjoyable for you.</p>

    <p>At Book Exchange, we believe in the power of books to change lives and bring people together. Our mission is to create a vibrant community where book lovers can connect, share, and discover new reads without the constraints of traditional book ownership.</p>

    
    <h2 class="text-center">What We Offer</h2>
    
    <ul class="custom-list">
        <li><strong>Sell Books</strong>: Have books you no longer need? List them on our platform and reach a wide audience of fellow book enthusiasts looking for their next read.</li>
        <li><strong>Donate Books</strong>: Make a positive impact by donating your books to those who need them. Your generosity can bring knowledge and joy to others.</li>
        <li><strong>Exchange Books</strong>: Exchange books with other users to diversify your reading list. It's a great way to discover new genres and authors.</li>
        <li><strong>Buy Books</strong>: Explore our vast collection of books available for purchase. Whether you're looking for the latest bestseller or a classic novel, you'll find it here.</li>
        <li><strong>Accept Free Books</strong>: Find books being given away for free. Expand your library without spending a dime.</li>
    </ul>


    <h2 class="text-center">Our Vision</h2>
    <p>We envision a world where books are accessible to everyone, regardless of their financial situation. By fostering a community of sharing and caring, we aim to break down barriers and make literature available to all.</p>

    <h2 class="text-center">Join Us</h2>
    <p>Join our community today and be a part of the book-sharing revolution. Whether you're looking to clear your bookshelf or find your next favorite book, Book Exchange is the perfect place for you. Let's spread the love of reading, one book at a time.</p>

    <p>Thank you for being a part of our journey. Together, we can make a difference, one book exchange at a time.</p>
</div>
